<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="utf-8">
        <title>Palgakalkulaator</title>
    </head>
    <body>
    <h1>Palgakalkulaator</h1>
    <div tpl-include="{{$subTemplate}}"></div>
    </body>
</html>	
