
<table>
    <tr>
        <td>Töötuskindlustus (töötaja) (1.6%)</td>
        <td>{{$tootajaMaksud["töötuskindlustusMakse"]}}</td>
    </tr>
    <tr>
        <td>Kogumispension (2%)</td>
        <td>{{$tootajaMaksud["kogumispension"]}}</td>
    </tr>
    <tr>
        <td>Tulumaks (20%)</td>
        <td>{{$tootajaMaksud["tulumaks"]}}</td>
    </tr>
    <tr>
        <td>Netosumma</td>
        <td>{{$tootajaMaksud["netopalk"]}}</td>
    </tr>
    <tr>
        <td>Sotsiaalmaks (33%)</td>
        <td>{{$tooandjaKulud["sotsiaalmaks"]}}</td>
    </tr>
    <tr>
        <td>Töötuskindlustus (tööandja) (0.8%)</td>
        <td>{{$tooandjaKulud["tööandja töötuskindlustus"]}}</td>
    </tr>
    <tr>
        <td>Kogukulu</td>
        <td>{{$tooandjaKulud["kogukulu"]}}</td>
    </tr>
</table>